.billing-page .top_info {
    padding: 30px;
}
.billing-page .top_info .title {
    font-weight: bold;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #252A32;
}
.billing-page .main-content.main-content_3 {
    padding: 0 !important;
}
.billing-page .top_info.top_info_abs {
    position: absolute;
    z-index: 9;
}

.billing-page .header_tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.billing-page .header_tabs a {
    display: flex;
    align-items: center;
}

.billing-page .header_tabs li {
    margin-right: 100px;
}

.billing-page .header_tabs li:last-child {
    margin-right: 0;
}

.billing-page .header_tabs li a {
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #C5C7D2;
    pointer-events: none;
}

.billing-page .header_tabs li.active a {
    color: #636A7B;
    pointer-events: visible;
}

.billing-page .header_tabs li.active svg path {
    fill: #4368E0;
}

/* .billing-page .header_tabs li svg path {
    fill: #15D7AE;
} */

.billing-page .header_tabs li .icon {
    margin-right: 10px;
    flex-shrink: 0;
}

.billing-page .wrapper_checkbox {
    display: flex;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.billing-page .wrapper_checkbox .switch_checkbox_item {
    margin: 0 15px;
}

.billing-page .wrapper_checkbox .title {
    font-size: 16px;
    line-height: 19px;
    color: #636A7B;
}

.billing-page .wrapper_checkbox .right_text .save_up {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 5px 10px;
    background: #FB595B;
    border-radius: 13px;
    margin-left: 5px;
}

.billing-page .wrapper_pricing {
    display: flex;
    justify-content: center;
}

.billing-page .wrapper_pricing .title_top {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #636A7B;
    margin-bottom: 15px;
}

.billing-page .wrapper_pricing .title_top {
    text-align: center;
}

.billing-page .wrapper_pricing .left_box {
    width: 237px;
    margin-right: 45px;
    padding-top: 14px;
}

.billing-page .wrapper_pricing {
    margin-bottom: 70px;
}

.billing-page .wrapper_pricing .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
    display: flex;
}

.billing-page .wrapper_pricing .col-4 {
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 33.33333%;
}

.billing-page .wrapper_pricing .item .body_box {
    padding: 78px 30px 71px 30px;
    background: #F9F9F9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.billing-page .wrapper_pricing .item .price .currency {
    font-size: 20px;
    line-height: 23px;
    color: #252A32;
    margin-right: 5px;
}

.billing-page .wrapper_pricing .item .price .number {
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    color: #252A32;
}

.billing-page .wrapper_pricing .item .price .per_month {
    font-size: 14px;
    line-height: 16px;
    color: rgba(99, 106, 123, .5);
    margin-top: 10px;
    margin-bottom: 30px;
}

.billing-page .wrapper_pricing .item .billed_monthly {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #636A7B;
}

.billing-page .wrapper_pricing .item .button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.billing-page .wrapper_pricing .item .wrap_value .item + .item {
    margin-top: 25px;
}

.billing-page .wrapper_pricing .item.active .body_box {
    background: #EEF4FF;
    border: 1px solid #4368E0;
}

.billing-page .wrapper_pricing .item .wrap_value .item {
    display: flex;
    align-items: center;
    text-align: left;
}

.billing-page .wrapper_pricing .item .wrap_value .item .icon {
    flex-shrink: 0;
    margin-right: 10px;
}

.billing-page .wrapper_pricing .item .wrap_value .item .title {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #636A7B;
}

.billing-page .wrapper_pricing .item .wrap_value .item .title span {
    font-weight: 500;
}

.billing-page .wrapper_pricing .item .price .wrap {
    display: flex;
    justify-content: center;
    position: relative;
    left: -9px;
}

.billing-page .wrapper_pricing .wrapper_checkbox {
    display: flex;
    margin-top: 87px;
}

.billing-page .wrapper_pricing .wrapper_checkbox .switch_checkbox_item {
    margin: 0 15px;
}

.billing-page .wrapper_pricing .wrapper_checkbox .title {
    font-size: 16px;
    line-height: 19px;
    color: #636A7B;
    display: flex;
    flex-direction: column;
}

.billing-page .wrapper_pricing .wrapper_checkbox .right_text .save_up {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 5px 6px;
    background: #FB595B;
    border-radius: 13px;
    margin-top: 5px;
}

.billing-page .wrapper_pricing .wrapper_features_title {
    margin-top: 128px;
}

.billing-page .wrapper_pricing .wrapper_features_title .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.billing-page .wrapper_pricing .wrapper_features_title .item + .item {
    margin-top: 25px;
}

.billing-page .wrapper_pricing .wrapper_features_title .item .title {
    font-size: 16px;
    line-height: 19px;
    color: #636A7B;
}

.billing-page .wrapper_pricing .wrapper_features_title .item .hint {
    cursor: pointer;
}

.billing-page .wrapper_pricing .top_left {
    text-align: center;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.billing-page .wrapper_pricing .desc {
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: rgba(99, 106, 123, .5);
    margin-top: 0;
    margin-bottom: 15px;
}

.billing-page .wrapper_pricing .right_box {
    border-radius: 10px;
    border: 1px solid #4368E0;
    width: 100%;
    padding: 15px 15px;
    text-align: center;
    max-width: 1000px;
}

.billing-page .wrapper_pricing .left_box {
    flex-shrink: 0;
}

.billing-page .button.btn_border {
    color: #4368E0;
    background: none;
    border: 1px solid #4368E0;
}

.billing-page .button.btn_border:hover {
    color: #fff;
    background: #4368E0;
    border: 1px solid #fff;
}

.billing-page .wrapper_pricing .col-4 > .item {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.billing-page .wrapper_pricing .col-4 > .item .body_box {
    height: 100%;
}

.billing-page .left_box > .item {
    display: flex;
    height: 83%;
}

.billing-page .checkout_wrap {
    display: flex;
    max-width: 910px;
    margin: 85px auto 0 auto;
}

.billing-page .checkout_wrap .left_box {
    width: 100%;
    margin-right: 51px;
}

.billing-page .checkout_wrap .right_box {
    width: 280px;
    flex-shrink: 0;
}

.billing-page .tabbedPanels {
    width: 600px;
    margin-top: 25px;
}

.billing-page .module__check input,
.billing-page .module__radio input {
    display: none;
}

.billing-page .module__check {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.billing-page .module__check .text {
}

.billing-page .module__check .check {
    width: 25px;
    height: 25px;
    border: 0.5px solid #efefef;
    border-radius: 3px;
    margin-right: 13px;
}

// .billing-page .module__check input:checked + .check {
//     background: #5ddf20 url("./assets/img/billing/checkbox_icon.svg") no-repeat center center;
// }


.billing-page .module__radio {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    width: 50%;
}

.billing-page .module__radio .text {
    background: #F9F9F9;
    border: 1px solid #E4E6F1;
    position: relative;
    height: 41px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    letter-spacing: 0.02em;
    font-weight: bold;
    color: #C5C7D2;
}

.billing-page .module__radio_1 .text {
    border-radius: 6px 0px 0px 6px;
    border-right: none;
}

.billing-page .module__radio_2 .text {
    border-radius: 0px 6px 6px 0px;
}

.billing-page .module__radio.active .text {
    background: #EBEFF6;
    color: #636A7B;
}

.billing-page .wrapper_radio {
    display: flex;
    align-items: center;
}

.billing-page .aside_box {
    background: #FFFFFF;
    box-shadow: 0px 64px 64px rgba(211, 214, 215, 0.2), 0px 32px 32px rgba(211, 214, 215, 0.2), 0px 16px 16px rgba(211, 214, 215, 0.2), 0px 4px 4px rgba(211, 214, 215, 0.2), 0px 2px 2px rgba(211, 214, 215, 0.2);
    border-radius: 12px;
    padding: 20px;
}

.billing-page fieldset.input-field p.validation-message {
    position: absolute;
    top: -11px;
    right: 10px;
    margin: 0;
    background: white;
    padding: 0 5px;
    color: #FB595B;
    font-weight: 700;
    opacity: 0;
    -webkit-animation: appear 1 0.3s forwards;
    animation: appear 1 0.3s forwards;
}

.billing-page .terms_text {
    font-size: 14px;
    line-height: 150%;
    color: #636A7B;
    margin-top: 20px;
}

.billing-page .terms_text a {
    text-decoration-line: underline;
    color: #449CF4;
}

.billing-page .terms_text a:hover {
    opacity: .7;
}

.billing-page .aside_box .button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.billing-page .aside_box .bill_title {
    font-size: 16px;
    line-height: 19px;
    color: #636A7B;
    margin-bottom: 25px;
    margin-top: 27px;
}

.billing-page .aside_box .sub_title {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #636A7B;
    margin-bottom: 50px;
}

.billing-page .aside_box .total_per_month {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #252A32;
    margin-bottom: 10px;
}

.billing-page .aside_box .total_price {
    font-weight: bold;
    font-size: 36px;
    color: #252A32;
    padding-left: 15px;
    position: relative;
}

.billing-page .aside_box .total_price:before {
    content: '$';
    font-size: 20px;
    line-height: 23px;
    color: #252A32;
    position: absolute;
    font-weight: normal;
    left: 0;
    top: 3px;
}

.billing-page .aside_box .save_up {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 5px 10px;
    background: #FB595B;
    border-radius: 13px;
    margin-top: 25px;
    display: inline-block;
}

.billing-page .module__form .title_h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #252A32;
    margin-bottom: 25px;
}

.billing-page .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
}

.billing-page .row .col-6 {
    width: 50%;
}

.billing-page .row .col-100 {
    width: 134px;
}

.billing-page .row .col-200 {
    width: 237px;
}

.billing-page .row .col {
    padding-left: 15px;
    padding-right: 15px;
}

.billing-page .module__form .line {
    margin-bottom: 25px;
}

.billing-page .module__form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(99, 106, 123, 1);
}

.billing-page .module__form input::-moz-placeholder { /* Firefox 19+ */
    color: rgba(99, 106, 123, 1);
}

.billing-page .module__form input:-ms-input-placeholder { /* IE 10+ */
    color: rgba(99, 106, 123, 1);
}

.billing-page .module__form input:-moz-placeholder { /* Firefox 18- */
    color: rgba(99, 106, 123, 1);
}

.billing-page .select_standart {
    padding-left: 45px !important;
    width: 100%;
    padding-left: 15px;
    height: 100%;
    background: url("./assets/img/billing/arrow__select.svg") no-repeat right 15px center,
    url("./assets/img/billing/search_select.svg") no-repeat left 15px center;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #636A7B;
}

.billing-page .module__form .wrapper_radio {
    margin-bottom: 25px;
}

.billing-page .pay_pal {
    height: 76px;
    background: #FFFFFF;
    border: 1px solid #E4E6F1;
    border-radius: 12px;
    padding: 0 46px 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.billing-page .pay_pal .price {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #2D363D;
}

.billing-page .pay_pal .price span {
    font-size: 18px;
}

.billing-page .alert {
    padding: 8px;
    height: 61px;
    background: #EEF4FF;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.billing-page .alert p {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #636A7B;
}

.billing-page .alert p span {
    font-weight: 500;
}

.billing-page .alert .image {
    margin-right: 15px;
    flex-shrink: 0;
}

.billing-page .module__form .alert {
    margin-top: 20px;
}

@media (max-width: 1200px) {
    .billing-page .wrapper_pricing .col-4 {
        width: 50%;
    }

    .billing-page .wrapper_pricing .col-4 > .item {
        margin-bottom: 30px;
        height: auto;
    }

    .billing-page .left_box > .item {
        height: auto;
    }
}

@media (max-width: 960px) {
    .billing-page .row .col-100, .row .col-200 {
        width: 33.33333%;
    }

    .billing-page .wrapper_pricing .col-4 {
        width: 100%;
    }

}

@media (max-width: 860px) {
    .billing-page .wrapper_pricing {
        flex-direction: column;
    }

    .billing-page .wrapper_pricing .left_box {
        width: 100%;
        margin-bottom: 30px;
    }

    .billing-page .checkout_wrap {
        flex-direction: column;
        max-width: none;
    }

    .billing-page .checkout_wrap .right_box {
        width: 100%;
    }

    .billing-page .terms_text br {
        display: none;
    }
}


.billing-page .xs_select {
    height: 17px;
    line-height: 17px;
    color: #636A7B;
    font-size: 12px;
    padding: 0 22px;
    background-color: #fff;
    background-image: url(./assets/img/billing/arrow-bottom.svg);
    background-size: 15px 15px;
    background-position: right center;
    background-repeat: no-repeat;
    outline: none;
    font-weight: 400;
    border-radius: 0;
    letter-spacing: 0.02em;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.billing-page .payment_info_cards_wrpr {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    gap: 30px;
    flex-direction: row;
}
.billing-page .billing_payment_info_card {
    padding: 30px;
    border-radius: 12px;
    flex: 1;
}
.billing-page .billing_payment_info_card.current_plan {
    background: #EEF4FF url(./assets/img/billing/billing_payment_info_card_current.svg) no-repeat;
    background-position: right top;
}
.billing-page .billing_payment_info_card.next_payment,
.billing-page .billing_payment_info_card.payment_info {
    background: #F9F9F9;
    border: 1px solid #D5E5FF;
}
.billing-page .billing_payment_info_card .card_header_title {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #252A32;
    margin-bottom: 20px;
}
.billing-page .billing_payment_info_card .card_price {
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    color: #252A32;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}
.billing-page .billing_payment_info_card .card_price sup {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin-top: 3px;
    margin-right: 3px;
}
.billing-page .billing_payment_info_card .plan_name {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #252A32;
    margin-bottom: 15px;
}
.billing-page .billing_payment_info_card.next_payment {
    position: relative;
}
.billing-page .billing_payment_info_card.next_payment .bg_img {
    position: absolute;
    right: 21px;
    top: 23px;
}
.billing-page .billing_payment_info_card .next_payment_data {
    font-weight: bold;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #4368E0;
    margin-bottom: 10px;
}
.billing-page .billing_payment_info_card .next_payment_data_bottom {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #C5C7D2;
}
.billing-page .billing_payment_info_card .payment_card_info_box {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.billing-page .billing_payment_info_card .payment_card_info_box.card_yellow_state {
    background: #FDF1E3;
}
.billing-page .billing_payment_info_card .payment_card_info_box .warning_icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.billing-page .billing_payment_info_card .payment_card_info_box .card_type_icon {
    border: 1px solid #E4E6F1;
    border-radius: 4px;
    width: 48px;
    height: 30px;
    min-width: 48px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    margin-right: 10px;
}
.billing-page .billing_payment_info_card .payment_card_info_box .card_text_info .number {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #252A32;
    margin-bottom: 3px;
}
.billing-page .billing_payment_info_card .payment_card_info_box .expired {
    font-weight: normal;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #636A7B;
}
.billing-page .button.xs_btn_with_icon {
    display: flex;
    align-items: center;
    padding: 7px 11px;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
}
.billing-page .button.xs_btn_with_icon svg {
    margin-right: 10px;
}
.billing-page .panel_table_wrpr {
    overflow-x: auto;
}
.billing-page .panel_table {
    width: 100%;
    border-collapse: collapse;
}
.billing-page .panel_table thead th {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #C5C7D2;
    text-align: center;
    padding: 10px 0;
}
.billing-page .panel_table tbody tr {
    background: #F6F9FE;
    overflow: hidden;
    border-bottom: 10px solid #fff;
}
.billing-page .panel_table tbody tr td {
    padding: 10px 30px;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #5C677C;
    white-space: nowrap;
}
.billing-page .panel_table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}
.billing-page .panel_table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}
.billing-page .panel_table .btns_wrpr {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.billing-page .panel_table .btns_wrpr .button + .button {
    margin-left: 15px;
}
.billing-page .info_xs_badge {
    display: flex;
    align-items: center;
    padding: 2px 5px;
    border-radius: 4px;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.02em;
    min-width: 85px;
    color: #FFFFFF;
    width: fit-content;
    margin: 0 auto;
    justify-content: center;
}
.billing-page .info_xs_badge img {
    margin-right: 5px;
}
.billing-page .info_xs_badge.pending {
    background: #D0D4E3;
}
.billing-page .info_xs_badge.paid {
    background: #16DB93;
}
.billing-page .gray_light_text {
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #97AACD;
}
.billing-page .main-content .main_page_title {
    font-weight: bold;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #252A32;
    margin: 0;
    margin-bottom: 30px;
}
.billing-page .panel_table_head h2 {
    font-size: 16px;
    line-height: 150%;
}
.billing-page .panel_table_head {
    margin-bottom: 30px;
}
.billing-page .load_more_btn_wrpr {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.billing-page .load_more_btn {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #4368E0;
}
.billing-page .load_more_btn svg {
    margin-left: 10px;
}
.billing-page .load_more_btn:hover {
    color: #16DB93;
}
.billing-page .load_more_btn:hover svg path {
    fill: #16DB93;
}
.billing-page .billing_payment_info_card .payment_card_info_box.card_red_state {
    background: #FCEBEB;
}
.billing-page .billing_payment_info_card .payment_card_info_box.card_red_state .warning_icon svg path {
    fill: #FB595B;
}
.billing-page .tab_contents_wrpr {
    padding: 24px 0;
    min-height: 204px;
}
.billing-page .payment_method_popup .bottom_btn_middle {
    display: flex;
    justify-content: center;
}
.billing-page .payment_method_popup .bottom_btn_middle .button {
    padding-left: 50px;
    padding-right: 50px;
}

@media(max-width: 1199px) {
    .billing-page .billing_payment_info_card {
        width: calc(50% - 40px);
    }
}
@media(max-width: 991px) {
    .billing-page .billing_payment_info_card {
        width: calc(100% - 40px);
    }
}

.banner.billing-help-banner h2:before {
    display: none;
}
.banner.billing-help-banner {
    position: relative;
    background: rgba(48, 55, 120, 0.6);
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 28px 45px 29px;
    padding-left: 272px;
    justify-content: space-between;
}
.banner.billing-help-banner .text_wrpr {
    color: #FFFFFF;
}
.banner.billing-help-banner .billing_bottom_banner_img {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* BILLING END */
