// moving to use .button to not interfer with core.css that uses .btn
.btn, .button {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.02em;
  color: #F6F9FE;
  background: $blue;
  border-radius: 8px;
  padding: 5px 15px;
  transition: 0.15s all ease-in-out;
  position: relative;
  //height: fit-content;
  height: 30px;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 1px 1px #4368e059;

  .label {
    height: fit-content;
    margin: 0;
    line-height: 1;
  }

  &.slim {
    padding: 6px 15px;
    height: 30px;
    font-size: 12px;
    display: flex;
  }
  svg.icon {
    height: 18px;
    width: 18px;
    margin-right: 5px;
    fill: #fff;
    //path {
    //  fill: #fff;
    //}
  }

  &:active,
  &:hover {
    background: #3959C1;
    color: #F6F9FE;
  }

  &.disabled, &[disabled] {
    pointer-events: none;
    opacity: 0.6;
    border-color: transparent !important;
    color: grey !important;
    background-color: #efefef !important;
    box-shadow: none;
  }

  &.btn_green {
    background: #1dc41d;
  }

  &.flat {
    border-radius: 5px;
    background: none;
    color: #4268df;
    box-shadow: none;
    svg.icon {
      fill: #4368E0;
      //path {
      //  fill: #4368E0;
      //}
    }
    &:hover {
      background: whitesmoke;
      > svg {
        fill: #4268e0;
      }
    }
  }
  &.icon-btn {
    //width: 40px;
    //height: 40px;
    display: flex;
    //padding: 3px;
    overflow: hidden;
    white-space: nowrap;
    padding: 1px 15px;

    &.slim {
      padding: 0 15px;
    }
    > svg {
      position: initial;
      margin: auto 5px auto auto;
      fill: #C5C7D2;

      //path {
      //  fill: #C5C7D2;
      //}
    }
  }

  &.brdr_btn,
  &.outline {
    color: #4368E0;
    background: #FFFFFF;
    border: 1px solid #4368E0;
//    padding: 7px 30px;
    svg.icon {
      fill: #4368E0;
      //path {
      //  fill: #4368E0;
      //}
    }
    &:hover,
    &:active {
      background: #F6F9FE;
      color: #4368E0;
    }
  }

  &.red_brdr_btn {
    color: #FB595B;
    border-color: #FB595B;
    //background: #FB595B !important;

    &:hover {
      color: #FB595B !important;
      border-color: #FB595B !important;
      background: #fff3f3 !important;
    }
  }

}


.reload-btn {
  margin-right: 15px;
  //padding: 8px 8px!important;
  //height: auto!important;
  border-radius: 4px!important;
  svg {
    //margin: 0!important;
  }
  &.loading {
    pointer-events: none;
    svg {
      animation: rotation 2s infinite linear;
      fill: silver !important;
      path, rect {
        fill: silver !important;
      }
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}

.small-btn {
  height: 30px;
  width: 34px;
  display: flex;
  border-radius: 6px;
  cursor: pointer;
  color: #0b0e1d;
  padding: 0 3px !important;

  &.disabled {
    pointer-events: none;
    svg {
      fill: silver !important;
      path, rect {
        fill: silver !important;
      }
    }
  }
  * {
    // This helps with click-outside e.target (don't remove!)
    pointer-events: none;
  }
  > svg {
    margin: auto;
    width: 18px;
    height: 18px;
    fill: #0b0e1d !important;
    //path, rect {
    //  fill: #0b0e1d !important;
    //}
  }
  img {
    margin: auto;
    height: 20px;
  }
  &.active {
    background: #dce9ff;
    color: #116dff;
    fill: #116dff;
    //svg path, svg rect {
    //  fill: #116dff !important;
    //}
  }
  &:not(.active):hover {
    background: #f4f5f8;
  }
}

.btn-with-dropdown {
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.15s all ease-in-out;
  user-select: none;

  > .button {
    margin: 0 !important;
    padding-right: 40px !important;
  }
  &.active {
    //background: #4368E0;
    >.icon {
      color: #F6F9FE;
      opacity: 1;
      right: 0;
      border-radius: 0 4px 4px 0;
      transition: 0.15s all ease-in-out;
      padding: 0;
      width: 36px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.6;
    border-color: transparent !important;
    color: grey !important;
    background-color: #efefef !important;
  }
  > .icon {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    transition: 0.15s all ease-in-out;
    &:hover {
      background: #3959C1;
    }
  }
}

.btn-dropdown {
  position: relative;
  min-width: 200px;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 15px;
  transition: 0.15s all ease-in-out;

  ul:not(:last-child) {
    border-bottom: 1px solid #EBEFF6;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  ul li a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #636A7B;
    white-space: nowrap;
  }

  ul li a:hover {
    background: #F6F9FE;
  }

  li a .icon {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 15px;
  }
}

.google-connect-btn {
  height: 40px;
  width: 170px;
  cursor: pointer;
  background: url("~@/assets/img/google-assets/btn_google_signin_dark_normal_web@2x.png") no-repeat center;
  background-size: auto 100%;

  &:hover {
    background-image: url("~@/assets/img/google-assets/btn_google_signin_dark_pressed_web@2x.png");
  }
  &.disabled {
    background-image: url("~@/assets/img/google-assets/btn_google_signin_dark_disabled_web@2x.png");
  }
}
