
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* flex: 1 1; */
  width: 100%;

  .col {
    flex-grow: 1;
    //width: 33.3333333%;
    //min-width: 178px;
    //padding-left: 15px;
    //padding-right: 15px;
  }
}

.margin-rl-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.margin-r-30 {
  margin-right: 30px;
}
.margin-r-25 {
  margin-right: 30px;
}
.margin-r-15 {
  margin-right: 15px;
}
.margin-r-10 {
  margin-right: 10px;
}
.margin-30 {
  margin: 30px;
}
.margin-10 {
  margin: 10px !important;
}
.margin-b-20 {
  margin-bottom: 20px !important;
}
.margin-b-10 {
  margin-bottom: 10px !important;
}
.margin-b-25 {
  margin-bottom: 25px !important;
}
.margin-t-25 {
  margin-top: 25px !important;
}
.margin-t-10 {
  margin-top: 10px !important;
}
.margin-t-5 {
  margin-top: 5px !important;
}
.margin-t-15 {
  margin-top: 15px !important;
}
.margin-b-30 {
  margin-bottom: 30px !important;
}

.expandable-area {
  border: 1px solid #E4E6F1;
  border-radius: 8px;
  //padding: 15px;
  margin: 20px;

  .area-content {
    padding: 0 15px 15px;
    height: auto;
  }

  &.closed {
    .area-content {
      display: none;
    }
    .expandable-title {
      svg.arrow {
        transform: rotate(180deg);
      }
    }
  }
  .expandable-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #252A32;
    display: flex;
    flex-direction: row;
    position: relative;
    cursor: pointer;
    opacity: 0.7;
    padding: 15px;

    svg.arrow {
      right: 20px;
      float: right;
      position: absolute;
      transition: 0.15s all ease-in-out;
    }

    &:hover {
      opacity: 1;
    }
  }
}
