
.popup {
  background: #FFFFFF;
  box-shadow: 0 5px 20px rgba(37, 42, 50, 0.2);
  border-radius: 10px;
  max-width: calc(681px + 60px);
  width: 100%;
  padding: 0;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 50px);

  .content {
    padding: 6px 20px 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0;
    padding: 15px 20px;
    border-top: 1px solid rgba(206, 207, 216, 0.32);
    gap: 30px;
    .btn, .button {
      //margin-left: 30px;
    }
  }
}

.popup_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px 15px;
  border-bottom: 1px solid #eff0f2;

  &.has-border {
    border-bottom: 1px solid #eff0f2;
  }
}

.popup_header h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #252A32;
}

.close_popup_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 38px;
  min-height: 38px;
  width: 38px;
  height: 38px;
  transition: 0.15s all ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 !important;
  svg {
    margin: auto !important;
  }
  &.flat svg.icon {
    fill: $grey;
    path {
      fill: $grey;
    }
  }
  &:hover {
    background: #F6F9FE;
  }
}


.popup_btn_wrpr {
  display: none;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0;
  padding: 15px 20px;
  border-top: 1px solid rgba(206, 207, 216, 0.32);
}

.popup_btn_wrpr.active {
  display: flex;
}

.popup_btn_wrpr {
  gap: 30px;
  //.btn, .button {
  //  //margin-left: 30px;
  //}
}


.popup_wrpr {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
  background: rgba(37, 42, 50, 0.5);
  z-index: 99;
}

.popup_wrpr.active {
  opacity: 1;
  visibility: visible;
}

.popup_wrpr_inner {
  width: 100%;
  overflow: hidden;
  max-height: 100vh;
}

.popup.popup_2 {
  max-width: 600px;
}


.app_settings_popup {
  position: absolute;
  right: -370px;
  top: 0;
  background: #fff;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.4s all ease-in-out;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.15);
}

.app_settings_popup.right_open {
  right: 0;
}

.app_settings_popup .popup_left_side {
  width: 100%;
  flex: 1;
  padding: 20px;
  padding-right: 0;
  padding-top: 2px;
  border-right: 1px solid #E4E6F1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.app_settings_popup .popup_right_side {
  width: 400px;
  padding: 25px 0 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.app_settings_popup > .popup_left_side > .close_popup_btn {
  position: absolute;
  top: 15px;
  left: -50px;
  background: #bbbbbb;
  border-radius: 50%;
  padding: 9px !important;
}

.app_settings_popup > .popup_left_side > .close_popup_btn:hover {
  background: #F6F9FE;
}

.app_settings_popup > .popup_left_side > .close_popup_btn>svg {
  width: 100%;
  height: 100%;
}

.app_settings_popup > .popup_left_side > .close_popup_btn>svg>path {
  fill: #676767;
}

.app_settings_popup .popup_title,
.popup_high_right .popup_title {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #252A32;
  margin-bottom: 5px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 40;
  min-height: 40px;
}

.app_settings_popup .funnel_app_item .text_content p {
  max-width: 330px;
}

.app_settings_popup .funnel_app_item {
  margin-bottom: 6px;
  margin-top: 15px;
}

.app_settings_popup {
  .work-area {
    padding-left: 15px;
    padding-right: 25px;
    border-top: 1px solid $light-grey;
    padding-top: 25px;
  }
}
.app_settings_popup .popup_left_side .bottom_btns_wrpr {
  display: flex;
  align-items: center;
  margin-top: auto;
  background: #fff;
  padding-top: 10px;
  border-top: 1px solid #e5e6f1;
  margin-right: 30px;

  .btn, .button {
    margin-right: 30px;
  }
}

.app_settings_popup .popup_right_side p {
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #636A7B;
  margin-bottom: 50px;
}

