.select-button {
  .item {
    border: 2px solid #E4E6F1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
    max-height: 116px;

    &:hover {
      border-color: #4368e0;
    }
    .title {
      margin-top: 5px;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 0.02em;
      color: #636A7B;
    }
  }
  input[type=radio] {
    display: none;
  }

  //&.selected .item {
  //  border-color: #ddd;
  //}

  &.selected .item {
    border: 2px solid #4368E0;
  }

}
