.entries-table {
    &.centered {
        max-width: 1000px;
        margin: 0 auto;
    }
    .entry {
        cursor: pointer;
        min-height: 50px;
        background: $light-blue;
        &.disabled {
            pointer-events: none;
            background: #F9F9F9;
            > {
                color: #C5C7D2;
            }
        }
        &:hover {
            background: $hover-light-blue;
        }
        .cell {
            color: #646c7d;
            font-size: 14px;
            .cell-title {
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: 0.02em;
                color: #636b7c;
            }
            .cell-value {
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: 0.02em;
                color: #636A7B;
            }
            .through {
                color: #afb1bd;
                font-size: 12px;
            }
            &.customer {
                width: 100%;
            }
            &.customer-name {
                width: 80%;
            }
            &.fullname {
                width: 240px;
                min-width: 240px;
            }
            &.source {
                width: 140px;
                min-width: 140px;
            }
            &.amount, &.uses {
                min-width: 90px;
                max-width: 90px;
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                text-align: right;
                letter-spacing: 0.02em;
                color: #626a7b;
            }
            &.ltv {
                min-width: 90px;
                max-width: 90px;
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                text-align: right;
                letter-spacing: 0.02em;
                color: #626a7b;
            }
            &.orders {
                min-width: 90px;
                max-width: 90px;
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                text-align: left;
                letter-spacing: 0.02em;
                color: #626a7b;
            }
            &.time {
                width: 150px;
                min-width: 150px;
            }
            &.product, &.name, &.brief {
                width: 100%;
                max-width: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: row;
                align-items: center;
                .name {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 100%;
                    display: block;
                    overflow: hidden;
                }
                .more {
                    margin-left: 5px;
                    white-space: nowrap;
                    color: $dark-grey;
                }
            }
            &.status {
                width: 100px;
                min-width: 100px;
                display: flex;
                flex-direction: row;
                align-items: center;
                svg {
                    height: 16px;
                    margin-right: 5px;
                }
            }
            &.actions {
                width: 50px;
                min-width: 50px;
                display: flex;
                justify-content: end;
            }
        }
    }
    .head {
        display: flex;
        justify-content: stretch;
        //align-items: flex-start;
        background: $light-silver;
        border-radius: 8px;
        align-items: center;
        padding: 10px 20px;
        margin-bottom: 10px;
        .cell {
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0.05em;
            color: #C5C7D2;
            flex-direction: row;
            display: flex;
            align-items: center;
            .arrow {
                margin-left: 5px;
                height: 16px;
                transform: rotate(90deg);
            }
            .through {
                color: #afb1bd;
                font-size: 12px;
            }
            &.number {
                width: 80px;
                min-width: 80px;
            }
            &.customer {
                width: 100%;
            }
            &.customer-name {
                width: 80%;
            }
            &.product, &.name, &.brief {
                width: 100%;
            }
            &.source {
                width: 150px;
                min-width: 160px;
            }
            &.status {
                width: 100px;
                min-width: 100px;
            }
            &.amount, &.uses {
                min-width: 90px;
                max-width: 90px;
                text-align: right;
                margin-right: 0;
                justify-content: end;
            }
            &.orders {
                min-width: 90px;
                max-width: 90px;
                text-align: left;
                margin-right: 0;
            }
            &.ltv {
                min-width: 90px;
                max-width: 90px;
                text-align: right;
                margin-right: 0;
                justify-content: end;
            }
            &.actions {
                width: 50px;
                min-width: 50px;
                display: flex;
                justify-content: end;
            }
            &.time {
                width: 150px;
                min-width: 150px;
            }
            &.sort-by {
                font-weight: bold;
                color: $darker-grey;
            }
        }
    }
}

//.panel.funnels-panel .panel-item:hover {
//  background: #EEF4FF;
//}
.panel.funnels-panel .panel-item.disabled {
    pointer-events: none;
    background: #F9F9F9;
}

.panel.funnels-panel .panel-item.disabled .number,
.panel.funnels-panel .panel-item.disabled .product_panel_link,
.panel.funnels-panel .panel-item.disabled .result-tag,
.panel.funnels-panel .panel-item.disabled .price,
.panel.funnels-panel .panel-item.disabled .products_panel_weeks {
    color: #C5C7D2;
}

.panel.funnels-panel .panel-item.disabled .panel_item_btn svg path {
    fill: #C5C7D2;
}

.orders_pannel .panel-item .products_panel_first_cell {
    min-width: 120px;
    justify-content: flex-start;
}

.orders_pannel .panel-item .first_col_name {
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #636A7B;
    margin-left: 10px;
}

.orders_pannel .panel-item .time_ago {
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: #636A7B;
}

.orders_pannel .panel-item .cell-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #252A32;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.orders_pannel .panel-item .cell-value {
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #636A7B;
}

.orders_pannel .panel-item .cell_price {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: right;
    letter-spacing: 0.02em;
    color: #252A32;
}

.orders_pannel .panel-item {
    padding: 12px 20px;
}

.panel-head > span {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #C5C7D2;
}

.orders_pannel .panel-item {
    cursor: pointer;
}

.analytics-table {
    width: 100%;
    min-width: 892px;
    border-spacing: 0;
    padding: 0 0 15px;
    min-height: 200px;
    overflow: auto;

    tr td {
        border-top: 1px solid #EBEFF6;
        white-space: nowrap;
        //width: 100%;
        min-width: 100px;
    }
    //tr:last-child td {
    //    border-bottom: 1px solid #EBEFF6;
    //}
    .conv-rate-td {
        background: #f7f7f7;
        position: relative;
    }
    td.conv-rate-td {
        background: #f7f7f7;
        position: relative;
         .bar {
            position: absolute;
            content: "";
            background: RGB(66, 104, 223, 0.16);
            height: calc(100% - 10px);
            width: 80%;
            top: 5px;
            left: 0;
            z-index: 0;
            border-radius: 0 3px 3px 0;
            pointer-events: none;
        }
    }
    tr:hover td {
        background: #f6f9fe;

        &:first-child {
            //border-left: 1px solid #EBEFF6;
        }
        &:last-child {
            //border-right: 1px solid #EBEFF6;
        }
    }
    td:first-child, th:first-child {
        position: sticky;
        left: 0;
        background: white !important;
        z-index: 1;
        //box-shadow: inset -1px 0 1px 0px #1d1d2133;
        border-right: 1px solid #ebeff5;
    }
}

.table-analitics {
    width: 100%;
    min-width: 892px;
    border-spacing: 0;
}

.table-analitics .promo td {
    padding: 5px 0 5px 0;
    border: none;
}

.table-analitics .promo+.promo td {
    padding-top: 0;
}

.table-analitics .promo td:first-child {
    padding-left: 20px;
}

.table-analitics .promo td:last-child {
    padding-right: 20px;
}

.table-analitics .promo .promo-item {
    background-color: #F6F9FE;
    padding: 3px 20px;
    min-height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table-analitics .promo .promo-item .promo-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #636A7B;
}

.table-analitics .promo td:first-child .promo-item {
    padding-left: 32px;
}

.table-analitics th,
.table-analitics td {
    padding: 10px;
}

//.table-analitics td {
//    border-top: 1px solid #EBEFF6;
//    white-space: nowrap;
//}

//.table-analitics tr:last-child td {
//    border: none;
//}

.table-analitics .th-wrap {
    display: flex;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #97AACD;
    align-items: center;
}

.table-analitics .th-wrap .sort {
    display: flex;
    margin-left: 8px;
    cursor: pointer;
}
