
*[contenteditable="true"]:not(.ql-editor) {
  min-width: 50px;
  border: 1px dashed transparent;
  border-radius: 4px;
  padding: 2px 3px;
  outline: none;
  text-align: left;
  cursor: text;

  &:focus {
    border: 1px dashed $sharp-blue;
  }

  &:not(:focus):hover {
    border: 1px dashed $grey;
  }
}
