
.ql-font-arial { font-family: "Arial" }
.ql-font-arialblack { font-family: "Arial Black" }
.ql-font-couriernew { font-family: 'Courier New', monospace; }
.ql-font-courier { font-family: 'Courier', monospace }
.ql-font-comicsans { font-family: "Comic Sans MS" }
.ql-font-droidsans { font-family: "Droid Sans" }
.ql-font-georgia { font-family: "Georgia" }
.ql-font-helvetica { font-family: Helvetica }
.ql-font-lucidasans { font-family: "Lucida Sans" }
.ql-font-opensans { font-family: "Open Sans" }
.ql-font-roboto { font-family: "Roboto" }
.ql-font-tahoma { font-family: 'Tahoma' }
.ql-font-timesnewroman { font-family: 'Times New Roman' }
.ql-font-trebuchetms { font-family: 'Trebuchet MS', sans-serif }
.ql-font-verdana { font-family: 'Verdana' }
.ql-font-garamond { font-family: Garamond, serif; }
.ql-font-brushscriptmt { font-family: 'Brush Script MT', cursive; }
