.app-page-editor .main-center-content-wrpr {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: scroll !important;
    overflow-y: scroll !important;
    width: 100%;
    height: 100%;
    &::-webkit-scrollbar {
        z-index: 4;
        width: 20px !important;
        background-color: #F5F5FC;
    }
    &::-webkit-scrollbar-thumb {
        background-clip: content-box;
        border: 6px solid transparent;
        background-color: #E4E6F1;
        border-radius: 15px;
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-track-piece {
        background-color: transparent;
        -webkit-border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #E4E6F1;
        border-radius: 10px;
        -webkit-box-shadow: none;
    }
    &::-webkit-scrollbar-thumb:window-inactive {
        background: none;
    }
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
    &:hover {
        &::-webkit-scrollbar {
            //width: 8px !important;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #dbdce7;
            &:hover {
                background-color: #bdbfca;
            }
        }
    }
}

.app-page-editor .bottom_plus_btn svg {
    pointer-events: none;
}

.app-page-editor .add_row_box.edited .bottom_plus_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    background: $sharp-blue;
    cursor: pointer;
}

.app-page-editor .add_row_box.edited .bottom_plus_btn.top {
    top: -11px;
}

.app-page-editor .add_row_box.edited .left_top_controls {
    display: flex;
    align-items: center;
    border-radius: 3px 3px 0px 0px;
    height: 27px;
    padding: 0 10px;
    position: absolute;
    left: -2px;
    top: -27px;
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: $sharp-blue;
}

.app-page-editor .element_wrpr .left_top_controls .drag_arrow_icon,
.app-page-editor .add_row_box.edited .left_top_controls .drag_arrow_icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
    cursor: grab;
}

.app-page-editor .element_wrpr .right_top_controls,
.app-page-editor .add_row_box.edited .right_top_controls {
    display: flex;
    align-items: center;
    border-radius: 3px 3px 0px 0px;
    height: 27px;
    padding: 0 3px;
    position: absolute;
    right: -2px;
    top: -27px;
    background: $sharp-blue;
    cursor: pointer;
}

.app-page-editor .right_top_controls_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 21px;
    border-radius: 2px;
}

.app-page-editor .element_wrpr .right_top_controls .right_top_controls_btn:nth-child(2),
.app-page-editor .add_row_box.edited .right_top_controls .right_top_controls_btn:nth-child(2) {
    margin: 0 5px;
}

.app-page-editor .add_row_box .add_row_box_inner .plus_icon {
    /* position: relative; */
    cursor: pointer;
}

.app-page-editor .plus_icon.active:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f6f9fe;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.app-page-editor .add_row_box .add_row_box_inner .plus_icon .elm-type-section {
    position: absolute;
    top: calc(100% + 2px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
    width: 345px;
    border: 1px solid #D5E5FF;
    padding: 5px 10px 10px;
}

.app-page-editor .add_row_box .add_row_box_inner .plus_icon.active .elm-type-section {
    opacity: 1;
    visibility: visible;
}

.app-page-editor .add_row_box .add_row_box_inner .plus_icon .plus_icon_trigger {
    cursor: pointer;
    //min-height: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-page-editor .add_row_box .add_row_box_inner .plus_icon .plus_icon_trigger:hover svg path {
    fill: $sharp-blue;
}

.app-page-editor .add_row_box.edited {
    position: relative;
}

.app-page-editor .add_row_box.edited .plus_icon .elm-type-section::before {
    background-image: url('@/assets/page/img/before-arrow-up-blue.svg');
}

.app-page-editor .add_row_box .add_row_box_inner .elm-type-section p {
    margin: 0;
    letter-spacing: 0.02em;
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
    color: #97AACD;
}

.app-page-editor .add_row_box_rows_wrpr {
    display: flex;
    flex-wrap: wrap;
    margin: -7.5px -10px;
}

.app-page-editor .add_row_box_rows_wrpr .add_row_box_row_item {
    width: calc(33.33% - 20px);
    margin: 7.5px 10px;
    display: flex;
    align-items: center;
}

.app-page-editor .add_row_box_rows_wrpr .add_row_box_row_item svg rect {
    fill: #EEF4FF;
}

.app-page-editor .add_row_box_rows_wrpr .add_row_box_row_item:hover svg rect {
    fill: #D5E5FF;
}

.app-page-editor .add_row_box.edited.blue {
    border-color: $sharp-blue;
}

.app-page-editor .add_row_box.edited.blue .bottom_plus_btn,
.app-page-editor .add_row_box.edited.blue .left_top_controls,
.app-page-editor .add_row_box.edited.blue .right_top_controls {
    background: #4368E0;
}

.app-page-editor .add_row_box.edited.cyan {
    border-color: #68C2E9;
}

.app-page-editor .add_row_box.rows_box {
    display: flex;
}

.app-page-editor .add_row_box.rows_box .add_row_box_inner {
    width: 100%;
}

.app-page-editor .add_row_box.rows_box .add_row_box_inner:not(:last-child),
.app-page-editor .add_row_box.rows_box.edited .add_row_box_inner:not(:last-child) {
    border-right: 0;
}

.app-page-editor .add_row_box.rows_box.edited .add_row_box_inner:not(:last-child) {
    border-right: 1px solid;
}

// Root element when dragging
.common-dragging {
    .wrapper-docking {
        // Hide margin guides when dragging
        display: none !important;
    }
}

.app-page-editor .plus_input_btn_dropdown {
    position: fixed;
    left: 88px;
    top: 69px;
    border-radius: 0;
    height: calc(100vh - 69px);
    width: 310px;
    background: #FFFFFF;
    box-shadow: 0 11px 10px rgba(37, 42, 50, 0.05);
    z-index: 99;
    opacity: 1;
    visibility: visible;
    transition: 0.15s all ease-in-out;
    border-top: 1px solid #E4E6F1;
    .small_search_input {
        background: url('~@/assets/img/xs_search_icon.svg') no-repeat left 11px center;
        border: 1px solid #E4E6F1;
        border-radius: 2px;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #636A7B;
        margin-bottom: 10px;
        padding: 6px 10px 6px 30px;
        width: 100%;
        height: 32px;
    }
}

.app-page-editor .plus_input_btn_dropdown_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 15px;
    align-content: flex-start;
    .sidebar-block {
        width: calc(50% - 10px);
        margin-bottom: 10px;
        height: 83px;
        cursor: pointer;
    }
}

.app-page-editor .add_row_box .row_sprtr {
    width: 6px;
    height: 24px;
    background: $sharp-blue;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: calc(50% - 24px);
    cursor: pointer;
    z-index: 2;
    &:hover,
    &.active {
        border-radius: 20px;
        width: 35px;
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: url('~@/assets/img/row_sprtr_active_bg.svg') no-repeat center;
            background-size: contain;
        }
    }
}

.app-page-editor .add_row_box {
    &.has-children {
        border-color: transparent;
    }
    .add_row_box_inner {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1px;
        pointer-events: auto;
    }
    .section_row:not(.current) .add_row_box_inner {
        border: 1px dashed #d5e5ff !important;
    }
    &:hover .section_row:not(.current) .add_row_box_inner {
        border: 1px dashed #D5E5FF !important;
    }
    .section_row.current .add_row_box_inner {
        border: 1px dashed #D5E5FF;
    }
    .add_row_box_inner p {
        margin: 0;
    }
}

.app-page-editor .sidebar {
    .border_item_sidebar:not(.active),
    .shadow-prop:not(.active) {
        .wrapper_body {
            display: none !important;
        }
        .wrapper_title {
            margin: 0 !important;
        }
    }
}
